# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# runtime data
pids
*.pid
*.seed
*.pid.lock

# coverage
coverage/

# environment variables
.env
.env.local
.env.*.local

# macOS
.DS_Store

# Linux
*.swp

# Windows
Thumbs.db

# build output
dist/
build/

# optional config
.mycli.json
